@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

* {
    box-sizing: border-box;
}

/* what is this? */
html, body {
    font-size: 18px;
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-family: Arial;
    font-weight: bold;
    font-size: 70px;
    color: #FF69B4
}

p, h2 {
    line-height: 2em;
    font-family: Arial;
}

/* line spacing in text area */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

/* looks at everything with class: container and sets the size and padding */
.container.photo {
    padding: 0;
    position: relative;
}

/* looks at everything with class: container photo (why the period?? and sets the padding and position ..) */
img {
    width: 100%
}

/* image takes up 100% of its container, which is container photo? */
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* makes a circle */
    position: absolute;
    /* can be placed anywhere */
    display: block;
    /* ? */
    border: 2px solid rgba(255, 255, 255, 1);
    /* adds translucent white border */
    transition: all 0.5s ease-in-out;
    /* circle will expand to fit */
    color: #FFF;
    /* text inside is white */
    overflow: hidden;
    /* contains content when closing */
    cursor: pointer;
}

.dot .innner {
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    position: absolute;
    transition: opacity 1s ease-in-out;
}

/* this is for the actual container of the content? after dot expands? why do we do ease-in-out-again? */
.dot .inner .content {
    top: 50%;
    /* does this center it? */
    transform: translateY(-50%);
    /* does this center it top-bottom? */
    position: absolute;
    width: 100%;
    padding: 40px;
}

.dot .close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFF;
}

.dot .close:after {
    font-family: Source Serif Pro;
    font-size: 1.5em;
    content: "\f00d";
}

.dot.orange {
    background-color: #FF6319
}

.dot.blue {
    background-color: #0039A6
}

.dot.green {
    background-color: #6CBE45
}

.dot.brown {
    background-color: #996633
}

.dot.yellow {
    background-color: #FCCC0A
}

.dot.topBar {
    right: 75%;
    bottom: 77%;
}

.dot.windowPanel {
    top: 33%;
    right: 13%;
}

.dot.seatSpace {
    right: 75%;
    bottom: 20%;
}

.dot.staticSeats {
    right: 68%;
    bottom: 32%;
}

.dot.emergencyCal {
    right: 25%;
    bottom: 70%;
}

.dot.active {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0;
    z-index: 2;
    left: 0;
    top: 0;
}

.dot.active .inner {
    opacity: 1;
}

@media(min-width: 681px) {}

@media(min-width: 729px) {}